In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Car_sales.csv')

In [4]:
df.shape

(157, 15)

In [5]:
df.head()

    Manufacturer              Model  ...  Fuel efficiency Latest Launch
0  Acura          Integra            ...               28      2-Feb-14
1  Acura          TL                 ...               25      6-Mar-15
2  Acura          CL                 ...               26      1-Apr-14
3  Acura          RL                 ...               22      3-Oct-15
4  Audi           A4                 ...               27     10-Aug-15

[5 rows x 15 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB

In [7]:
X = df.drop(['Sales in thousands'],axis=1)

In [8]:
X.head()

    Manufacturer              Model  ... Fuel efficiency Latest Launch
0  Acura          Integra            ...              28      2-Feb-14
1  Acura          TL                 ...              25      6-Mar-15
2  Acura          CL                 ...              26      1-Apr-14
3  Acura          RL                 ...              22      3-Oct-15
4  Audi           A4                 ...              27     10-Aug-15

[5 rows x 14 columns]

In [9]:
y = df['Sales in thousands']

In [10]:
y[0:5]

0    16.919
1    39.384
2    14.114
3     8.588
4    20.397
Name: Sales in thousands, dtype: float64

#Encoding

##Label Encoding

In [11]:
X_en = X

In [12]:
cat_features = [i for i in X_en.columns if X_en.dtypes[i] == 'object']
cat_features

['Manufacturer',
 'Model',
 '4-year resale value',
 'Vehicle type',
 'Price in thousands',
 'Engine size',
 'Horsepower',
 'Wheelbase',
 'Width',
 'Length',
 'Curb weight',
 'Fuel capacity',
 'Fuel efficiency',
 'Latest Launch']

In [13]:
cat_features_index = [i for i in range(len(X_en.columns)) if X_en.dtypes[i] == 'object']
cat_features_index

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [14]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

labelencoder = LabelEncoder()
for i in range(len(X_en.columns)):
  X_en.iloc[:,i] = labelencoder.fit_transform(X_en.iloc[:,i])

In [15]:
X_en.shape

(157, 14)

In [16]:
X_en.head()

   Manufacturer  Model  ...  Fuel efficiency  Latest Launch
0             0     79  ...               14             42
1             0    143  ...               11            112
2             0     25  ...               12              0
3             0    115  ...                8             94
4             1      8  ...               13              2

[5 rows x 14 columns]

##One Hot Encoding

In [17]:
from sklearn.preprocessing import OneHotEncoder
OneHotEncoder(drop='first').fit(X_en)

OneHotEncoder(drop='first')

In [18]:
X_en.head()

   Manufacturer  Model  ...  Fuel efficiency  Latest Launch
0             0     79  ...               14             42
1             0    143  ...               11            112
2             0     25  ...               12              0
3             0    115  ...                8             94
4             1      8  ...               13              2

[5 rows x 14 columns]

In [19]:
X_en.shape

(157, 14)

In [21]:
X_en = pd.DataFrame(X_en)
X.head()

   Manufacturer  Model  ...  Fuel efficiency  Latest Launch
0             0     79  ...               14             42
1             0    143  ...               11            112
2             0     25  ...               12              0
3             0    115  ...                8             94
4             1      8  ...               13              2

[5 rows x 14 columns]

#Train and Test Split

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(125, 14) (32, 14) (125,) (32,)

#Ordinary Least Squares

In [23]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import statsmodels.api as sm

model_train = sm.OLS(y_train, X_train)
#model_train = sm.OLS(X_train,y_train)
results_train = model_train.fit()
print(results_train.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     Sales in thousands   R-squared (uncentered):                   0.591
Model:                            OLS   Adj. R-squared (uncentered):              0.539
Method:                 Least Squares   F-statistic:                              11.44
Date:                Sun, 23 Jan 2022   Prob (F-statistic):                    7.96e-16
Time:                        05:59:50   Log-Likelihood:                         -665.14
No. Observations:                 125   AIC:                                      1358.
Df Residuals:                     111   BIC:                                      1398.
Df Model:                          14
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Manufacturer           -0.9078      0.630     -1.442      0.152      -2.155       0.340
Model                   0.0058      0.106      0.055      0.956      -0.204       0.215
4-year resale value    -0.1151      0.129     -0.889      0.376      -0.372       0.141
Vehicle type          -33.4802     17.759     -1.885      0.062     -68.670       1.710
Price in thousands     -0.2776      0.273     -1.017      0.311      -0.818       0.263
Engine size             3.1123      1.554      2.003      0.048       0.034       6.191
Horsepower             -0.5412      0.732     -0.739      0.461      -1.992       0.910
Wheelbase               0.0453      0.224      0.202      0.840      -0.399       0.490
Width                  -0.0006      0.371     -0.002      0.999      -0.736       0.735
Length                  0.4692      0.263      1.787      0.077      -0.051       0.989
Curb weight            -0.7084      0.365     -1.943      0.055      -1.431       0.014
Fuel capacity           1.6146      0.724      2.230      0.028       0.180       3.049
Fuel efficiency         5.8440      1.496      3.907      0.000       2.880       8.808
Latest Launch           0.0798      0.142      0.562      0.575      -0.202       0.361
==============================================================================
Omnibus:                       48.156   Durbin-Watson:                   2.208
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              119.144
Skew:                           1.533   Prob(JB):                     1.34e-26
Kurtosis:                       6.671   Cond. No.                         715.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#Polynomial Regression

In [26]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [27]:
degree = 1
poly_features = PolynomialFeatures(degree=degree)
 
# transform the features to higher degree features.
X_train_poly = poly_features.fit_transform(X_train)
X_test_poly = poly_features.fit_transform(X_test)
  
# fit the transformed features to Linear Regression
poly_model = LinearRegression()
poly_model.fit(X_train_poly, y_train)

y_train_pred = poly_model.predict(X_train_poly)

print("Metrics on Train samples")
print("==============================================================")
print("Multiple Regression score: ",r2_score(y_train,y_train_pred))
print("Multiple Regression mean_squared_error: ",mean_squared_error(y_train,y_train_pred))
print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_train,y_train_pred))
print("==============================================================")

y_test_pred = poly_model.predict(X_test_poly)

print("Metrics on Test samples")
print("==============================================================")
print("Multiple Regression score: ",r2_score(y_test,y_test_pred))
print("Multiple Regression mean_squared_error: ",mean_squared_error(y_test,y_test_pred))
print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_test,y_test_pred))
print("==============================================================")

Metrics on Train samples
==============================================================
Multiple Regression score:  0.2927599223307955
Multiple Regression mean_squared_error:  2318.167818387182
Multiple Regression mean_absolute_error:  33.72210293842554
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.14648011779536263
Multiple Regression mean_squared_error:  8313.753005056788
Multiple Regression mean_absolute_error:  49.03998396337242
==============================================================

In [28]:
degree = 2
poly_features = PolynomialFeatures(degree=degree)
 
# transform the features to higher degree features.
X_train_poly = poly_features.fit_transform(X_train)
X_test_poly = poly_features.fit_transform(X_test)
  
# fit the transformed features to Linear Regression
poly_model = LinearRegression()
poly_model.fit(X_train_poly, y_train)

y_train_pred = poly_model.predict(X_train_poly)

print("Metrics on Train samples")
print("==============================================================")
print("Multiple Regression score: ",r2_score(y_train,y_train_pred))
print("Multiple Regression mean_squared_error: ",mean_squared_error(y_train,y_train_pred))
print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_train,y_train_pred))
print("==============================================================")

y_test_pred = poly_model.predict(X_test_poly)

print("Metrics on Test samples")
print("==============================================================")
print("Multiple Regression score: ",r2_score(y_test,y_test_pred))
print("Multiple Regression mean_squared_error: ",mean_squared_error(y_test,y_test_pred))
print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_test,y_test_pred))
print("==============================================================")

Metrics on Train samples
==============================================================
Multiple Regression score:  0.9705554081823485
Multiple Regression mean_squared_error:  96.51249601433359
Multiple Regression mean_absolute_error:  7.2155637979219005
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  -13.71741467842464
Multiple Regression mean_squared_error:  143355.71210523223
Multiple Regression mean_absolute_error:  247.65468014987985
==============================================================

#Linear Models

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lars
from sklearn.linear_model import SGDRegressor

In [30]:
linear_Models = [LinearRegression(),ElasticNet(),Lasso(),Ridge(),Lars(n_nonzero_coefs=1),SGDRegressor(max_iter=1000, tol=1e-3)]

In [31]:
for mod in range(len(linear_Models)):
  model = linear_Models[mod]
  #print(model)
  
  model.fit(X_train,y_train)
  y_train_pred = model.predict(X_train)
  
  print("Metrics on Train samples")
  print("==============================================================")
  print("Multiple Regression score: ",r2_score(y_train,y_train_pred))
  print("Multiple Regression mean_squared_error: ",mean_squared_error(y_train,y_train_pred))
  print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_train,y_train_pred))
  print("==============================================================")

  y_test_pred = model.predict(X_test)

  print("Metrics on Test samples")
  print("==============================================================")
  print("Multiple Regression score: ",r2_score(y_test,y_test_pred))
  print("Multiple Regression mean_squared_error: ",mean_squared_error(y_test,y_test_pred))
  print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_test,y_test_pred))
  print("==============================================================")

Metrics on Train samples
==============================================================
Multiple Regression score:  0.2927599223307956
Multiple Regression mean_squared_error:  2318.1678183871813
Multiple Regression mean_absolute_error:  33.72210293842544
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.14648011779536407
Multiple Regression mean_squared_error:  8313.753005056773
Multiple Regression mean_absolute_error:  49.03998396337237
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  0.2633547394808454
Multiple Regression mean_squared_error:  2414.5511410082563
Multiple Regression mean_absolute_error:  34.49796055002579
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.1107014384443673
Multiple Regression mean_squared_error:  8662.257016706728
Multiple Regression mean_absolute_error:  48.10589213083284
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  0.28768235423347444
Multiple Regression mean_squared_error:  2334.810900885661
Multiple Regression mean_absolute_error:  33.79178260199911
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.1370149792858415
Multiple Regression mean_squared_error:  8405.948659039155
Multiple Regression mean_absolute_error:  48.273758316423304
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  0.29235829539988134
Multiple Regression mean_squared_error:  2319.48425767794
Multiple Regression mean_absolute_error:  33.731734154254
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.14376552083213134
Multiple Regression mean_squared_error:  8340.194672241256
Multiple Regression mean_absolute_error:  48.80895058057112
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  0.0999642842172952
Multiple Regression mean_squared_error:  2950.1068980743207
Multiple Regression mean_absolute_error:  38.03702242056075
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.02291459709953292
Multiple Regression mean_squared_error:  9517.349125574645
Multiple Regression mean_absolute_error:  48.66455153047263
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  -1.170968294572571e+23
Multiple Regression mean_squared_error:  3.8381606225934244e+26
Multiple Regression mean_absolute_error:  16527548142447.508
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  -5.35462395816575e+22
Multiple Regression mean_squared_error:  5.215698187154392e+26
Multiple Regression mean_absolute_error:  19061856742439.543
==============================================================

#Algorithm Models

In [32]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

In [33]:
Alg_Model_list = [KNeighborsRegressor(),SVR(),DecisionTreeRegressor()]

In [34]:
for mod in range(len(Alg_Model_list)):
  model = Alg_Model_list[mod]
  #print(model)
  
  model.fit(X_train,y_train)
  

  y_train_pred = model.predict(X_train)
  
  print("Metrics on Train samples")
  print("==============================================================")
  print("Multiple Regression score: ",r2_score(y_train,y_train_pred))
  print("Multiple Regression mean_squared_error: ",mean_squared_error(y_train,y_train_pred))
  print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_train,y_train_pred))
  print("==============================================================")

  y_test_pred = model.predict(X_test)

  print("Metrics on Test samples")
  print("==============================================================")
  print("Multiple Regression score: ",r2_score(y_test,y_test_pred))
  print("Multiple Regression mean_squared_error: ",mean_squared_error(y_test,y_test_pred))
  print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_test,y_test_pred))
  print("==============================================================")

Metrics on Train samples
==============================================================
Multiple Regression score:  0.17019847688031509
Multiple Regression mean_squared_error:  2719.89561576352
Multiple Regression mean_absolute_error:  37.528452800000004
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.0834362332507661
Multiple Regression mean_squared_error:  8927.835108486252
Multiple Regression mean_absolute_error:  49.32120625
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  -0.10178981626055394
Multiple Regression mean_squared_error:  3611.4097253925424
Multiple Regression mean_absolute_error:  35.90433083047925
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  -0.06405912553920223
Multiple Regression mean_squared_error:  10364.521011109466
Multiple Regression mean_absolute_error:  44.6276891836755
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  1.0
Multiple Regression mean_squared_error:  0.0
Multiple Regression mean_absolute_error:  0.0
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.12248269225421382
Multiple Regression mean_squared_error:  8547.501126062501
Multiple Regression mean_absolute_error:  55.41150000000001
==============================================================

#Ensemble Models

In [35]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import  XGBRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import ExtraTreesRegressor

In [36]:
ensemble_Model_list = [RandomForestRegressor(),BaggingRegressor(),GradientBoostingRegressor(),XGBRegressor(),AdaBoostRegressor(),ExtraTreesRegressor()]

In [37]:
for mod in range(len(ensemble_Model_list)):
  model = ensemble_Model_list[mod]
  #print(model)
  
  model.fit(X_train,y_train)
  

  y_train_pred = model.predict(X_train)
  
  print("Metrics on Train samples")
  print("==============================================================")
  print("Multiple Regression score: ",r2_score(y_train,y_train_pred))
  print("Multiple Regression mean_squared_error: ",mean_squared_error(y_train,y_train_pred))
  print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_train,y_train_pred))
  print("==============================================================")

  y_test_pred = model.predict(X_test)

  print("Metrics on Test samples")
  print("==============================================================")
  print("Multiple Regression score: ",r2_score(y_test,y_test_pred))
  print("Multiple Regression mean_squared_error: ",mean_squared_error(y_test,y_test_pred))
  print("Multiple Regression mean_absolute_error: ",mean_absolute_error(y_test,y_test_pred))
  print("==============================================================")

Metrics on Train samples
==============================================================
Multiple Regression score:  0.8650934897810544
Multiple Regression mean_squared_error:  442.192036841493
Multiple Regression mean_absolute_error:  13.698064639999998
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.2900800288342862
Multiple Regression mean_squared_error:  6915.010905643685
Multiple Regression mean_absolute_error:  46.328684374999995
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  0.8478199272326401
Multiple Regression mean_squared_error:  498.81074111600003
Multiple Regression mean_absolute_error:  14.080848000000001
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.3032586105976357
Multiple Regression mean_squared_error:  6786.644272338751
Multiple Regression mean_absolute_error:  44.35628750000001
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  0.9763727398939983
Multiple Regression mean_squared_error:  77.44464113926338
Multiple Regression mean_absolute_error:  6.750164794452954
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.40466742177283177
Multiple Regression mean_squared_error:  5798.866686573167
Multiple Regression mean_absolute_error:  47.381354277148674
==============================================================
[06:09:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Metrics on Train samples
==============================================================
Multiple Regression score:  0.9672673009765641
Multiple Regression mean_squared_error:  107.29014358908228
Multiple Regression mean_absolute_error:  7.572094503189088
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.42387131706053993
Multiple Regression mean_squared_error:  5611.810186208362
Multiple Regression mean_absolute_error:  45.593680326461794
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  0.7843071638025736
Multiple Regression mean_squared_error:  706.9907480036802
Multiple Regression mean_absolute_error:  23.997581433613387
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.3754126512445255
Multiple Regression mean_squared_error:  6083.824238778892
Multiple Regression mean_absolute_error:  48.96111515792771
==============================================================
Metrics on Train samples
==============================================================
Multiple Regression score:  1.0
Multiple Regression mean_squared_error:  1.0998993061447457e-26
Multiple Regression mean_absolute_error:  6.465361579444106e-14
==============================================================
Metrics on Test samples
==============================================================
Multiple Regression score:  0.3154600235617746
Multiple Regression mean_squared_error:  6667.795800485312
Multiple Regression mean_absolute_error:  41.4053828125
==============================================================